@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
    margin:auto;
    width: 360px;
    padding: 10px;;
}
.form {
background: #ffffff;
margin: auto;
max-width: 360px;
text-align: center;
position: relative;
padding: 30px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: 'Times New Roman', Times, serif;
 font-size: 14px;
 padding: 15px;
 margin: 0 0 15px;
 outline: 0;
 border: 0;
 width: 100%;
 box-sizing: border-box;

}
.form button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    outline: 0px;
    background: greenyellow;
    width:100px;
    border: 0px;

}
body {
    background-color: darkgreen;
    
}